.my__tickets h2{
  margin-bottom: 2rem;
  color: var(--text-color);
}

.newticket__btn__container{
  margin-right: 5rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


@media screen and (min-width: 998px) {
  .tickets__data{
    width: 100%;
  }
 
}
